.photo-grid {
  display: grid;
  gap: 12px;
  justify-items: center;
  width: calc(100% - 2*16px);
}

@media screen and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: calc(100% - 2*24px);
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    width: calc(100% - 2*48px);
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}
