.place__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin: 0;
  width: calc(100% - 2*16px);
  display: grid;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  .place__text {
    width: 100%;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .place__text {
    font-size: 18px;
  }
}
