.intro {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: calc(100% - 2*16px);
}

@media screen and (min-width: 768px) {
  .intro {
    width: calc(100% - 2*24px);
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    width: calc(100% - 2*48px);
    max-width: 690px;
    margin-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    width: calc(100% - 2*148px);
    max-width: 690px;
    margin-left: 148px;
  }
}
