.cover__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  text-align: center;
  margin: 0 auto;
  width: calc(100% - 16px*2);
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.06;
    width: calc(100% - 104px*2);
    padding-bottom: 32px;
}
}

@media screen and (min-width: 1024px) {
  .cover__title {
    width: calc(100% - 232px*2);
}
}

@media screen and (min-width: 1280px) {
  .cover__title {
    width: calc(100% - 312px*2);
}
}
